<form method="POST" action="/reset-password/confirmuser">
   
    <strong>Email-id</strong>
    <br>
    <input type="email" placeholder="enter your email" name="email" style="margin-top:10px;margin-bottom:10px">
    <br>
    <button type="submit">Submit</button> 
    
</form>