<form method="POST" action="/reset-password/<%= token.accesstoken %>">

    <p><strong>New Password</strong></p>
    <input type="password" name="password" placeholder="Enter new password">
    <p><strong>Confirm Password</strong></p>
    <input type="password" name="c_password" placeholder="Re-enter password">
    <br>
    <input type="submit" value="Reset Password" style="margin-top: 10px;">  

</form>